{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "semi": true,
        "singleQuote": false
      }
    }
  ]
}
